/* line 4, talk.sass */
body {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #aaaaaa), color-stop(80%, #eeeeee), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #aaaaaa 20%, #eeeeee 80%, #ffffff);
  background-image: -moz-linear-gradient(top, #aaaaaa 20%, #eeeeee 80%, #ffffff);
  background-image: -o-linear-gradient(top, #aaaaaa 20%, #eeeeee 80%, #ffffff);
  background-image: -ms-linear-gradient(top, #aaaaaa 20%, #eeeeee 80%, #ffffff);
  background-image: linear-gradient(top, #aaaaaa 20%, #eeeeee 80%, #ffffff);
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* line 11, talk.sass */
#preso {
  background-color: white;
  -moz-box-shadow: 0px 0px 15px #888888;
  -webkit-box-shadow: 0px 0px 15px #888888;
  -o-box-shadow: 0px 0px 15px #888888;
  box-shadow: 0px 0px 15px #888888;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -o-border-bottom-left-radius: 15px;
  -ms-border-bottom-left-radius: 15px;
  -khtml-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -o-border-bottom-right-radius: 15px;
  -ms-border-bottom-right-radius: 15px;
  -khtml-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* line 16, talk.sass */
#footer {
  background-color: transparent;
  position: relative;
  top: -20px;
  z-index: 9999 !important;
}
/* line 21, talk.sass */
#footer #slideInfo {
  padding: 0 15px;
  font-size: 80%;
  color: #aaaaaa;
}

/* line 26, talk.sass */
.slide {
  background-color: transparent;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -o-border-bottom-left-radius: 15px;
  -ms-border-bottom-left-radius: 15px;
  -khtml-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -o-border-bottom-right-radius: 15px;
  -ms-border-bottom-right-radius: 15px;
  -khtml-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
/* line 30, talk.sass */
.slide .content h1 {
  font-weight: bold;
}
/* line 34, talk.sass */
.slide .content a:link, .slide .content a:visited {
  text-decoration: none;
  color: black;
  border-bottom: 1px dotted black;
}
/* line 38, talk.sass */
.slide .content a:hover {
  color: #880000;
}
/* line 42, talk.sass */
.slide .title h1, .slide .thanks h1 {
  margin-top: 150px;
  font-size: 9em;
}
/* line 46, talk.sass */
.slide .small {
  font-size: 50%;
}
/* line 49, talk.sass */
.slide .large {
  font-size: 200%;
}
/* line 52, talk.sass */
.slide [alt~=stack] {
  position: absolute;
  width: 249px;
  height: 53px;
  right: 5px;
  top: 0;
}
/* line 59, talk.sass */
.slide [alt~=working_code], .slide [alt~=pseudo_code] {
  position: absolute;
  right: 0;
  top: 45px;
}
