@charset "UTF-8";
/* line 4, talk.sass */
body {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #aaaaaa), color-stop(80%, #eeeeee), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, #aaaaaa 20%, #eeeeee 80%, #ffffff 100%);
  background-image: linear-gradient(top, #aaaaaa 20%, #eeeeee 80%, #ffffff 100%);
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* line 11, talk.sass */
#preso {
  background-color: white !important;
  -moz-box-shadow: #888888 0px 0px 15px 0;
  -webkit-box-shadow: #888888 0px 0px 15px 0;
  -o-box-shadow: #888888 0px 0px 15px 0;
  box-shadow: #888888 0px 0px 15px 0;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -o-border-bottom-left-radius: 15px;
  -ms-border-bottom-left-radius: 15px;
  -khtml-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -o-border-bottom-right-radius: 15px;
  -ms-border-bottom-right-radius: 15px;
  -khtml-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* line 16, talk.sass */
#footer {
  background-color: transparent !important;
  position: relative;
  top: -20px;
  z-index: 9999 !important;
}
/* line 21, talk.sass */
#footer #slideInfo {
  padding: 0 15px;
  font-size: 80%;
  color: #aaaaaa;
}

/* line 26, talk.sass */
.slide {
  background-color: transparent !important;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -o-border-bottom-left-radius: 15px;
  -ms-border-bottom-left-radius: 15px;
  -khtml-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -o-border-bottom-right-radius: 15px;
  -ms-border-bottom-right-radius: 15px;
  -khtml-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
/* line 30, talk.sass */
.slide .content h1 {
  font-family: "Chalkduster";
}
/* line 33, talk.sass */
.slide .content a:link, .slide .content a:visited {
  text-decoration: none;
  color: black;
  border-bottom: 1px dotted black;
}
/* line 37, talk.sass */
.slide .content a:hover {
  color: #880000;
}
/* line 40, talk.sass */
.slide .title h1 {
  margin-top: 150px;
  font-size: 9em;
}
